<h1>Listing providers</h1>

    <% @providers.each do |provider| %>
    <!-- <div>
        <h4>Name</h4><%= provider.name %>
        <li class="list-group-item"><h5>Description:</h5><%= provider.description %>
        <li class="list-group-item"><h5></li>ddress</h5><%= provider.address %>
        <li class="list-group-item"><h5>Phone Number</h5><%= provider.phone %>
        <li class="list-group-item"><h5>Email</h5><%= provider.email %>
        <li class="list-group-item"><h5>Openings</h5><%= provider.openings %>
        <li class="list-group-item"><h5>Insurance</h5><%= provider.insurance %>
        <li class="list-group-item"><h5>Specialties</h5><%= provider.specialties %>
        <li class="list-group-item"><h5>Provider Type</h5><%= provider.providertype %>
        <%= link_to 'Show', provider %>
        <%= link_to 'Edit', edit_provider_path(provider) %>
        <%= link_to 'Destroy', provider, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div> -->

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <%= provider.name %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <ul class="list-group">
        <li class="list-group-item"><h5>Description:</h5><%= provider.description %></li>
        <li class="list-group-item"><h5>Address</h5><%= provider.address %></li>
        <li class="list-group-item"><h5>Phone Number</h5><%= provider.phone %></li>
        <li class="list-group-item"><h5>Email</h5><%= provider.email %></li>
        <li class="list-group-item"><h5>Openings</h5><%= provider.openings %></li>
        <li class="list-group-item"><h5>Insurance</h5><%= provider.insurance %></li>
        <li class="list-group-item"><h5>Specialties</h5><%= provider.specialties %></li>
        <li class="list-group-item"><h5>Provider Type</h5><%= provider.providertype %></li>
        </ul>
      <div class="panel-footer">
        <%= link_to 'Show', provider, class: "btn btn-primary btn-large" %>
        <%= link_to 'Edit', edit_provider_path(provider), class: "btn btn-primary btn-large" %>
        <%= link_to 'Destroy', provider, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-large" %>
    </div>
    </div>
  </div>

<% end %>

<%= link_to 'New Provider', new_provider_path, class: "btn btn-primary btn-large" %>
