<!DOCTYPE html>
<html>
<head>
  <title>State College Mental Health Resources</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
		body {
			text-align: center;
      font-family: 'Alegreya Sans SC', sans-serif;
			background: #FFC0A9;
		}
		h3 {
			color: red;
			text-align: center;
      font-family: 'Alegreya Sans SC', sans-serif;
      font-weight: 700;
		}

		h4 {
			color: black;
			text-align: center;
      font-family: 'Alegreya Sans SC', sans-serif;
      font-weight: 700;
		}
		p {
			text-align: center;
      font-family: 'Alegreya Sans SC', sans-serif;
		}
	</style>
<body>
<%= render 'layouts/navbar'%>
<%= yield %>
<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700,800' rel='stylesheet' type='text/css'>

</body>
</html>
